<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  https://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
	<connectionStrings>
		<add name="GyomuConnectionString" connectionString="Data Source=192.168.2.209;Initial Catalog=MMC_Test;Persist Security Info=True;User ID=sa;Password=sa@db" providerName="System.Data.SqlClient" />
		<add name="MMC_TestConnectionString" connectionString="Data Source=192.168.2.209;Initial Catalog=MMC_Test;User ID=sa;Password=sa@db" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--
	web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

	次の属性を <httpRuntime> タグに設定できます。
	  <system.Web>
		<httpRuntime targetFramework="4.5.1" />
	  </system.Web>
  -->
	<system.web>
		<customErrors mode="Off" />
		<compilation targetFramework="4.5.1" debug="true" />

		<httpRuntime maxRequestLength="65535" targetFramework="4.5.1" />
		<pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
				<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
			</controls>
		</pages>
		<httpHandlers>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
		</httpHandlers>
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<appSettings>
		<add key="ConnectionString" value="user id=sa;password=sa@db;database=MMC_Test;server=192.168.2.209" />
		<add key="MitumoriFormat" value="C:\inetpub\wwwroot\Maeda\Format\MitumoriFormat.xlsx" />
		<add key="NouhinFormat" value="C:\inetpub\wwwroot\Maeda\Format\NouhinFormat.xlsx" />
		<add key="SeikyuForm" value="C:\inetpub\wwwroot\Maeda\Format\SeikyuForm.xlsx" />
		<add key="MitumoriFormat4" value="C:\inetpub\wwwroot\Maeda\Format\MitumoriForm4.xlsx" />
		<add key="NouhinForm2" value="C:\inetpub\wwwroot\Maeda\Format\NouhinForm2.xlsx" />
		<add key="OrderForm" value="C:\inetpub\wwwroot\Maeda\Format\OrderForm2.xlsx" />
		<add key="OrderForm3" value="C:\inetpub\wwwroot\Maeda\Format\OrderForm3.xlsx" />
		<add key="NouhinForm3" value="C:\inetpub\wwwroot\Maeda\Format\NouhinForm3.xlsx" />
		<add key="SeikyuForm2" value="C:\inetpub\wwwroot\Maeda\Format\SeikyuForm2.xlsx" />
		<add key="OrderForm4" value="C:\inetpub\wwwroot\Maeda\Format\OrderForm4.xlsx" />
		<add key="NouhinForm4" value="C:\inetpub\wwwroot\Maeda\Format\NouhinForm4.xlsx" />
		<add key="OrderFormat" value="C:\inetpub\wwwroot\Maeda\Format\OrderFormat.xlsx" />
		<add key="Test" value="C:\inetpub\wwwroot\Maeda\Format\Test.xlsx" />
		<!--2021/01/12　前田　追加↓-->
		<add key="MitsumoriFormatAddTax" value="C:\inetpub\wwwroot\Maeda\Format\見積書\税込見積書.xlsx" />
		<add key="MitsumoriFormatNoTax" value="C:\inetpub\wwwroot\Maeda\Format\見積書\税抜見積書.xlsx" />
		<add key="MitsumoriFormatGetsuji" value="C:\inetpub\wwwroot\Maeda\Format\見積書\月次見積書.xlsx" />
		<add key="Mitsumori2022" value="C:\inetpub\wwwroot\Maeda\Format\見積書\見積書2022.xlsx" />
		<add key="Mitsumori2022-1" value="C:\inetpub\wwwroot\Maeda\Format\見積書\見積書2022-1.xlsx" />
		<add key="Mitsumori2022-2" value="C:\inetpub\wwwroot\Maeda\Format\見積書\見積書2022-2.xlsx" />
		<add key="Mitsumori2022-kai" value="C:\inetpub\wwwroot\Maeda\Format\見積書\見積書2022改.xlsx" />
		<add key="NouhinFormatAddTax" value="C:\inetpub\wwwroot\Maeda\Format\納品書\税込納品書.xlsx" />
		<add key="NouhinFormatNoTax" value="C:\inetpub\wwwroot\Maeda\Format\納品書\税抜納品書.xlsx" />
		<add key="NouhinFormatGetsuji" value="C:\inetpub\wwwroot\Maeda\Format\納品書\月次納品書2.xlsx" />
		<add key="UchiwakeFormatAddTax" value="C:\inetpub\wwwroot\Maeda\Format\内訳書\税込内訳書.xlsx" />
		<add key="UchiwakeFormatNoTax" value="C:\inetpub\wwwroot\Maeda\Format\内訳書\税抜内訳書.xlsx" />
		<add key="SeikyuFormatAddTax" value="C:\inetpub\wwwroot\Maeda\Format\請求書\税込請求書.xlsx" />
		<add key="SeikyuForamatNoTax" value="C:\inetpub\wwwroot\Maeda\Format\請求書\税抜請求書.xlsx" />
		<add key="SeikyuFormatGetsuji" value="C:\inetpub\wwwroot\Maeda\Format\請求書\月次請求書2.xlsx" />
		<add key="SyukkaFormatAddTax" value="C:\inetpub\wwwroot\Maeda\Format\出荷伝票\税込出荷伝票.xlsx" />
		<add key="SyukkaFormatNoTax" value="C:\inetpub\wwwroot\Maeda\Format\出荷伝票\税抜出荷伝票.xlsx" />
		<add key="SyukkaFormatGetsuji" value="C:\inetpub\wwwroot\Maeda\Format\出荷伝票\月次出荷伝票.xlsx" />
		<add key="JutyuFormat" value="C:\inetpub\wwwroot\Maeda\Format\受注書\受注書.xlsx" />
		<add key="JutyuFormat2" value="C:\inetpub\wwwroot\Maeda\Format\受注書\受注書-2.xlsx" />

		<add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
		<add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />

		<!--本番反映時に本番用のテーブルに変える必要あり-->
		<add key="M_Facility" value="M_Facility_NewBackup" />

		<add key="MailTo" value="yanagisawa@m2m-asp.com" />

		<add key="MainFilePath" value="C:\inetpub\wwwroot\MMC_Test用\Tokuisaki\image" />
		<add key="BackupFilePaht" value="C:\inetpub\wwwroot\MMC_PortalImageBackup\image" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>

			<remove name="ChartImage_axd" />
			<remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
			<remove name="Telerik_Web_UI_DialogHandler_aspx" />
			<remove name="Telerik_RadUploadProgressHandler_ashx" />
			<remove name="Telerik_Web_UI_WebResource_axd" />
			<add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
			<add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
			<add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
		</handlers>
		<modules>
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
				<providerOption name="CompilerVersion" value="v4.0" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
				<providerOption name="CompilerVersion" value="v4.0" />
				<providerOption name="OptionInfer" value="true" />
				<providerOption name="WarnAsError" value="false" />
			</compiler>
		</compilers>
	</system.codedom>
</configuration>
<!--ProjectGuid: B98F2336-88F8-4165-A885-CE691B790748-->