/*Telerik RadGrid Default Skin*/

/*global*/

.RadGrid_Yd
{
    border:1px solid #999;
    background:#fff;
    color:#000;
}

.RadGrid_Yd,
.RadGrid_Yd .rgMasterTable,
.RadGrid_Yd .rgDetailTable,
.RadGrid_Yd .rgGroupPanel table,
.RadGrid_Yd .rgCommandRow table,
.RadGrid_Yd .rgEditForm table,
.RadGrid_Yd .rgPager table,
.GridToolTip_Yd
{
    font:12px/16px "segoe ui",arial,sans-serif;
}

.RadGrid_Yd .rgHeader:first-child,
.RadGrid_Yd th.rgResizeCol:first-child,
.RadGrid_Yd .rgFilterRow>td:first-child,
.RadGrid_Yd .rgRow>td:first-child,
.RadGrid_Yd .rgAltRow>td:first-child
{
	border-left-width:0;
	padding: 0 0 0 0;
	/*padding-left:8px;*/
}

.RadGrid_Yd .rgAdd,
.RadGrid_Yd .rgRefresh,
.RadGrid_Yd .rgEdit,
.RadGrid_Yd .rgDel,
.RadGrid_Yd .rgFilter,
.RadGrid_Yd .rgPagePrev,
.RadGrid_Yd .rgPageNext,
.RadGrid_Yd .rgPageFirst,
.RadGrid_Yd .rgPageLast,
.RadGrid_Yd .rgExpand,
.rgCollapse,
.RadGrid_Yd .rgSortAsc,
.RadGrid_Yd .rgSortDesc,
.RadGrid_Yd .rgUpdate,
.RadGrid_Yd .rgCancel,
.RadGrid_Yd .rgUngroup,
.RadGrid_Yd .rgExpXLS,
.RadGrid_Yd .rgExpDOC,
.RadGrid_Yd .rgExpPDF,
.RadGrid_Yd .rgExpCSV
{
	background-image:url('GridYd/sprite.gif');
}

/*header*/

.RadGrid_Yd .rgHeaderDiv
{
	background:#e4e4e4;
}

.RadGrid_Yd .rgHeader
{
	border:0;
	border-top:1px solid #7c7c7c; /*’Ç‰Á*/
	border-bottom:1px solid #7c7c7c;
	border-left:1px solid #9e9e9e;
	background:#e4e4e4;
}

.RadGrid_Yd th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	border-left:1px solid #9e9e9e;
	background:#e4e4e4;
}

.RadGrid_Yd th.rgSorted
{
	background-color:#fffaeb;
}

.RadGrid_Yd .rgHeader,
.RadGrid_Yd .rgHeader a
{
    color:#000;
}

.RadGrid_Yd th.rgSorted,
.RadGrid_Yd th.rgSorted a
{
    color:#892500;
}

/*rows*/

.RadGrid_Yd .rgRow td,
.RadGrid_Yd .rgAltRow td,
.RadGrid_Yd .rgEditRow td,
.RadGrid_Yd .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
	font-size: 9pt;
	font-family: Tahoma;
}

.RadGrid_Yd .rgRow td
{
	border-color:#fff #c3c3c3;
	white-space:nowrap;
}

.RadGrid_Yd .rgAltRow
{
	background:#ededed;
}

.RadGrid_Yd .rgAltRow td
{
	border-color:#ededed #c3c3c3;
}

.RadGrid_Yd .rgRow .rgSorted
{
	border-bottom-color:#fffaeb;
	background-color:#fffaeb;
}

.RadGrid_Yd .rgAltRow .rgSorted
{
	border-bottom-color:#f1ecdd;
	background-color:#f1ecdd;
}

.RadGrid_Yd .rgSelectedRow .rgSorted,
.RadGrid_Yd .rgActiveRow .rgSorted,
.RadGrid_Yd .rgHoveredRow .rgSorted,
.RadGrid_Yd .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Yd .rgRow a,
.RadGrid_Yd .rgAltRow a,
.RadGrid_Yd tr.rgEditRow a,
.RadGrid_Yd .rgFooter a,
.RadGrid_Yd .rgEditForm a
{
	color:#000;
}

.RadGrid_Yd .rgSelectedRow
{
    background:#ffa517;
    color:#892500;
}
*+html .RadGrid_Yd .rgSelectedRow .rgSorted{background-color:#ffa517}
* html .RadGrid_Yd .rgSelectedRow .rgSorted{background-color:#ffa517}

.RadGrid_Yd .rgSelectedRow a,
.RadGrid_Yd .rgHoveredRow a,
.RadGrid_Yd .rgActiveRow a
{
	color:#892500;
}

.RadGrid_Yd .rgActiveRow,
.RadGrid_Yd .rgHoveredRow
{
    background:#ffe79c 0 -2900px repeat-x url('Grid/sprite.gif');
    color:#892500;
}
*+html .RadGrid_Yd .rgActiveRow .rgSorted,
*+html .RadGrid_Yd .rgHoveredRow .rgSorted{background-color:#ffe79c}
* html .RadGrid_Yd .rgActiveRow .rgSorted,
* html .RadGrid_Yd .rgHoveredRow .rgSorted{background-color:#ffe79c}

.RadGrid_Yd .rgEditRow
{
	background:#fff 0 -4900px repeat-x url('Grid/sprite.gif');
}
*+html .RadGrid_Yd .rgEditRow .rgSorted{background-color:#fff}
* html .RadGrid_Yd .rgEditRow .rgSorted{background-color:#fff}

.RadGrid_Yd .rgSelectedRow td,
.RadGrid_Yd .rgSelectedRow td.rgSorted
{
	border-color:#ca4b0c #ffa517;
}

.RadGrid_Yd .rgActiveRow td,
.RadGrid_Yd .rgActiveRow td.rgSorted,
.RadGrid_Yd .rgHoveredRow td,
.RadGrid_Yd .rgHoveredRow td.rgSorted
{
	border-color:#c98400 #ffe79c;
}

.RadGrid_Yd .rgEditRow td,
.RadGrid_Yd .rgEditRow td.rgSorted
{
	border-color:#616161 #c3c3c3;
}

.RadGrid_Yd .rgDrag
{
	background-image:url('GridYd/rgDrag.gif');
}

/*footer*/

.RadGrid_Yd .rgFooterDiv,
.RadGrid_Yd .rgFooter
{
	background:#e4e4e4;
}

.RadGrid_Yd .rgFooter td
{
	border-top:1px solid;
	border-color:#999 #c3c3c3;
}

/*status*/

.RadGrid_Yd .rgPager .rgStatus
{
	border:1px solid;
	border-color:#999 #999 #e4e4e4 #e4e4e4;
	border-left-width:0;
}

.RadGrid_Yd .rgStatus div
{
	background-image:url('Common/loading_small.gif');
}

/*pager*/

.RadGrid_Yd .rgPager
{
	background:#e4e4e4;
}

.RadGrid_Yd td.rgPagerCell
{
	border:1px solid;
	border-color:#999 #e4e4e4 #e4e4e4;
	border-right-width:0;
}

.RadGrid_Yd .rgInfoPart
{
	color:#777;
}

.RadGrid_Yd .rgInfoPart strong
{
	color:#4c4e54;
}

.RadGrid_Yd .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Yd .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Yd .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Yd .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Yd .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Yd .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Yd .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Yd .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Yd .rgPager .rgPagerButton
{
	border-color:#7e7e7e;
	background:#c6c6c6;
	color:#000;
	font:12px/12px "segoe ui",arial,sans-serif;
}

.RadGrid_Yd .rgNumPart a
{
	border:1px solid #e4e4e4;
	line-height:20px;
	color:#000;
}

.RadGrid_Yd .rgNumPart a:hover
{
	border-color:#c98400;
	background:#ffe79c;
	color:#892500;
}

.RadGrid_Yd .rgNumPart a.rgCurrentPage,
.RadGrid_Yd .rgNumPart a.rgCurrentPage:hover
{
	border-color:#ca4b0c;
	background:transparent;
	color:#892500;
}

/*sorting, reordering*/

.RadGrid_Yd .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Yd .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Yd,
.GridReorderBottom_Yd
{
	background:0 0 no-repeat url('GridYd/sprite.gif');
}

.GridReorderBottom_Yd
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Yd .rgFilterRow
{
	background:#e4e4e4;
}

.RadGrid_Yd .rgFilterRow td
{
    border-bottom:1px solid #999;
    border-left:1px solid #e4e4e4;
}

.RadGrid_Yd .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_Yd .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Yd .rgFilterActive,
.RadGrid_Yd .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Yd .rgFilterBox
{
	border-color:#616161;
	font:12px "segoe ui",arial,sans-serif;
	color:#000;
}

/*filter context menu*/

.RadMenu_Yd .rgHCMClear,
.RadMenu_Yd .rgHCMFilter
{
	border-color:#7e7e7e;
	background:#c6c6c6;
	color:#000;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.RadMenu_Yd .rgHCMClear:hover,
.RadMenu_Yd .rgHCMFilter:hover
{
	border-color:#c98400;
	background-color:#ffe79c;
	color:#882501;
}

/*context menu*/

.GridContextMenu_Yd .rmLeftImage
{
	background-image:url('../Common/Grid/contextMenu.gif');
}

.GridContextMenu_Yd .rgHCMSortAsc .rmLeftImage
{
	background-position:0 0;
}

.GridContextMenu_Yd .rgHCMSortDesc .rmLeftImage
{
	background-position:0 -40px;
}

.GridContextMenu_Yd .rgHCMUnsort .rmLeftImage
{
	background-position:0 -80px;
}

.GridContextMenu_Yd .rgHCMGroup .rmLeftImage
{
	background-position:0 -120px;
}

.GridContextMenu_Yd .rgHCMUngroup .rmLeftImage
{
	background-position:0 -160px;
}

.GridContextMenu_Yd .rgHCMCols .rmLeftImage
{
	background-position:0 -200px;
}

.GridContextMenu_Yd .rgHCMFilter .rmLeftImage
{
	background-position:0 -240px;
}

.GridContextMenu_Yd .rgHCMUnfilter .rmLeftImage
{
	background-position:0 -280px;
}

/*grouping*/

.RadGrid_Yd .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	background:#c6c6c6;
}

.RadGrid_Yd .rgGroupPanel td
{
	border:0;
	/*padding:3px 4px;*/
}

.RadGrid_Yd .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Yd .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Yd .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Yd .rgUngroup
{
	background-position:0 -6999px;
}

.RadGrid_Yd .rgGroupItem
{
	border:1px solid #7e7e7e;
	background:#c6c6c6;
}

.RadGrid_Yd .rgMasterTable td.rgGroupCol,
.RadGrid_Yd .rgMasterTable td.rgExpandCol
{
	border-color:#c9c9c9;
	background:#c9c9c9 none;
}

.RadGrid_Yd .rgGroupHeader
{
    background:#c9c9c9;
    font-size:1.1em;
    line-height:22px;
	color:#000;
}

.RadGrid_Yd .rgGroupHeader td
{
	/*padding-left:8px;
	padding-bottom:2px;*/
}

.RadGrid_Yd .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Yd .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_Yd .rgEditForm
{
	border-bottom:1px solid #999;
}

.RadGrid_Yd .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Yd .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_Yd .rgDetailTable
{
	border-color:#999;
}

/*command row*/

.RadGrid_Yd .rgCommandRow
{
	background:#c6c6c6;
	color:#000;
}

.RadGrid_Yd .rgCommandCell
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	padding:0;
}

.RadGrid_Yd tfoot .rgCommandCell,
.RadGrid_Yd .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #7c7c7c;
	border-bottom:0;
}

.RadGrid_Yd .rgCommandTable td
{
	border:0;
	/*padding:2px 7px;*/
}

.RadGrid_Yd .rgCommandTable
{
	border:0;
}

.RadGrid_Yd .rgCommandRow a
{
	color:#000;
	text-decoration:none;
}

.RadGrid_Yd .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Yd .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Yd .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Yd .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Yd .rgExpXLS,
.RadGrid_Yd .rgExpDOC,
.RadGrid_Yd .rgExpPDF,
.RadGrid_Yd .rgExpCSV
{
	background-image:url('../Common/Grid/export.gif');
}

.RadGrid_Yd .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Yd .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Yd .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Yd .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Yd
{
	background:#4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_Yd
{
    border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_Yd
{
	border:1px solid #c98400;
	/*padding:3px;*/
	background:#ffefbd;
	color:#333;
}

/*rtl*/

.RadGridRTL_Yd .rgHeader:first-child,
.RadGridRTL_Yd th.rgResizeCol:first-child,
.RadGridRTL_Yd .rgFilterRow>td:first-child,
.RadGridRTL_Yd .rgRow>td:first-child,
.RadGridRTL_Yd .rgAltRow>td:first-child
{
	border-left-width:1px;
	/*padding-left:7px;*/
}

.RadGridRTL_Yd .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Yd .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Yd .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Yd .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Yd .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Yd .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Yd .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Yd .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGridRTL_Yd .rgExpand
{
	background-position:-20px -496px;
}