body {
    margin: 0;
    padding: 0;
    font-family: 'Yu Gothic UI';
}

p {
    margin: 0;
    padding: 0;
}

.DivBase {
    width: 100%;
}

#DivList {
    width: 1000px;
    margin: 0px auto;
}

#DivCreate {
    width: 500px;
    margin: 0px auto;
    display: none;
}

.Btn {
    text-align: center;
    width: 95px;
    height:30px;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: white;
    border: solid 2px #0070C0;
    border-radius: 3px;
    transition: .4s;
    font-family: Meiryo;
    background-color: #9DC3E6;
}

    .Btn:hover {
        background: #2E75B6;
        color: #D9D9D9;
    }
